* {
  box-sizing: border-box;
}

/* Bold latin roboto slab */
@font-face {
    font-family: 'Roboto Slab Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
         url(fonts/roboto_slab_bold/roboto-slab-bold.woff) format('woff');
}

/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: url(fonts/roboto_slab/latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: url(fonts/roboto_slab/latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

.serif {
  font-family: "Roboto Slab", Times, serif;
}

body {
	color: #000000;
	background: #ffffff;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
    font-family: "Roboto Slab";
    font-weight: 700;

}


/* PAGE LAYOUT */
/* Create two unequal columns that float next to each other */

.column {
  float: left;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 16px;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}


.left2 {
  width: 65%;
  padding-right: 30px;
}

.right2 {
  width: 35%;
  padding-left: 13px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other*/

@media screen and (max-width: 1400px) {
  nav .nav-centered {
    all: initial;
    float: left;
   }
}

@media screen and (max-width: 1250px) {
  .column {
  }
  p2 {
    padding-left: 0!important;
  }
  h3 {
    padding-left: 0!important;
  }
  .left2 {
  }
  .right2 {
  }
  .header {
    padding-left: 30px!important;
    padding-right: 30px!important;
    padding-bottom: 20px;
  }
  nav .nav-centered {
    all: initial;
    float: left;
   }
  nav .nav-centered ul li {
  }
}

@media screen and (max-width: 1000px) {
  .column {
  }
  p2 {
    padding-left: 0!important;
  }
  h3 {
    padding-left: 0!important;
  }
  .nav-right {
    display: none;
  }
  .header {
    padding-left: 30px!important;
    padding-right: 30px!important;
    padding-bottom: 20px;
  }
  nav .nav-centered {
    all: initial;
    padding-bottom: 10px;
    float: left;
   }
  nav .nav-centered ul li {
   padding-left: 30px!important;
    padding-right: 20px!important;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  p2 {
    padding-left: 0!important;
  }
  h3 {
    padding-left: 0!important;
  }
  .left2 {
    padding-right: 0!important;
  }
  .right2 {
    padding-left: 80px!important;
    padding-right: 0!important;
  }
  .nav-right {
    display: none;
  }
  .header {
    padding-left: 10px!important;
    padding-bottom: 20px;
  }
  nav .nav-centered {
    all: initial;
    padding-bottom: 10px;
    float: left;
   }
  nav .nav-centered ul li {
   padding-left: 8px!important;
    padding-right: 5px!important;
  }
}


/* Responsive layout for printing from browser */

@media print {
  .column {
  }
  p2 {
    padding-left: 0!important;
  }
  h3 {
    padding-left: 0!important;
  }
  .left2 {
  }
  .right2 {
  }
  nav {
    display: none;
  }
}


.singlecolumn {
  float: left;
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 16px;
}


.centerImage {
	Width:100%;
}

.text {
}



/* Set social media button general settings */
.fab {
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  padding-top: 2px;
  padding-bottom: 13px;
}
/* individual settings for certain symbols if needed are possible */
.fa-facebook-square {
}

/* padding top sets the difference to the TOP of the site. */
.header {
  background-color: #ffffff;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 2px;
  font-family: "Roboto Slab Bold";
  float: left;
  font-size : 32px;
  font-weight: 900;
  text-align: left;
}

/* padding bottom gives the padding to the picture, padding top sets the difference to the TOP of the site */
nav {
	background-color: #ffffff;
  padding-top: 14px;
  padding-bottom: 0px;
}

/* Font Awesome settings */


/* Links in navigation bar */
nav a {
  font-family: "Roboto Slab", normal;
  color: #787878;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
 }
/* Style of list, the navigation bar and the social media buttons are given as a list, and we do not want bullet points for instance... */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* hover over buttons changes color (also holds for social media) */
nav a:hover {color: black;}

nav a.active {color: black;}


/* Positioning of center navigation bar */
.nav-centered {
	background-color: transparent;
  float: left;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.nav-right {
  float: right;
}

/* Padding left and right for navigation */
.nav-centered ul li {
    float: left;
    padding-left: 35px;
    padding-right: 35px;
}

/* Padding left and right for socialmedia */
.nav-right ul li {
    float: right;
    padding-left: 8px;
    padding-right: 0px;
    padding-bottom: 6px;

}
/* Text Style and color */

/* Bottom Navigation bar, here you set the padding top and bottom */
.nav-bottom {
	background-color: #ffffff;
  float: left;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  padding-bottom: 20px;
}
.nav-bottom ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav-bottom a:hover {color: black;}

/*  Padding between social media button in BOTTOM NAV */
.nav-bottom ul li {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

h1 {
	color: #000000;
	font-family: Roboto Slab Bold;
    font-size: 16px;
}
h2 {
	color: #000000;
    font-family: Roboto Slab Bold;
}

h3 {
	color: #000000;
	font-family: Roboto Slab Bold;
	font-size: 20px;
    padding-left: 100px;

}

em {
	color: #000000;
}

li {
	font-size: large;
}

a {
	color: #2DC401;
}


p1 {
	color: #000000;
	font-family: Roboto Slab Bold;
    font-size: 16px;
}

p2 {
    color: #000000;
    font-family: Roboto Slab;
	font-size: 16px;
	padding-left: 113px
}

.upcoming {
	border:1px solid #1DA1F2;
	padding-top: -20px;
	padding-left: 5px;
	padding-right: 5px;
}
.upcoming h2 {
	text-align: center;
}
.upcoming ul li {
	font-size: large;
	margin: 0 0 10px 0;
	display: block;
}


.manifesto {
	border:1px solid #1DA1F2;
	padding: 10px;
	font-size: large;
}


/* ---------------------------------------------------------------------------
 * ----------------------------- Blog specifics -----------------------------*/
@media screen and (max-width: 600px) {
  .blog {
    	padding-top: 20px;
    	padding-left: 5px;
	padding-right: 5px;
  	font-size: medium;
  }
}


.blog {
	padding-top: 20px;
	padding-left: 100px;
	padding-right: 100px;
  	font-size: large;
}

.headerquote {
	text-align: center;
	color: #AAB8C2;
	font-size: 200%;
	font-family: courier;
	padding-top: 50px;
	padding-left: 50px;
	padding-right; 50px;
}

.blockquote {
	text-align: center;
	color: #AAB8C2;
	font-size: large;
	font-family: courier;
	padding-left: 50px;
	padding-right; 50px;
}


.blog em {
	color: #E1E8ED;
	font-style: italic;
}


/* ---------------------------------------------------------------------------
 * ----------------------------- GIF and IMAGES -----------------------------*/
img.index_gif {
	margin-left:auto;
	margin-right:auto;
	float :none;
	width: 300px;
	height: auto;
}

img.philipp-www {
	float: right;
	padding: 0 20px 20px 20px;
	width: 20%;
	height: auto;
}

img.header {
	float: block;
	padding: 0 0 0 0;
	width: 10%;
	height: auto;
}

img.headerleft {
	float: left;
	padding: 0 0 0 0;
	width: 10%;
	height: auto;
}
